.atrenta/
.cache/
.config/
.dbus/
.designer/
.local/
.simvision/
.ssh/
.vim/
verdiLog/
.python_history
.bash_profile
.viminfo
.Xauthority
.zcompdump*
.zsh_history
.zshrc
novas.conf
novas.rc
*/*/nWaveLog
*/*/INCA_libs
*.fsdb
*.log
